<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{furl '/css/base.css'}}" type="text/css">
    {{#if isDark}}
    <link rel="stylesheet" href="{{furl '/css/dark.css'}}" type="text/css">
    {{/if}}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ace.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.3/js/aui.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.3/js/aui-experimental.js"></script>
    <link rel="stylesheet" type="text/css" href="//aui-cdn.atlassian.com/aui-adg/5.9.3/css/aui.css"/>
    <link rel="stylesheet" type="text/css" href="//aui-cdn.atlassian.com/aui-adg/5.9.3/css/aui-experimental.css"/>
    {{#unless disableXDM}}
    <script src="{{furl '/js/xdm-iframe.min.js'}}"></script>
    {{/unless}}
    <meta name="acpt" content="{{signed_request}}">
</head>
<body>
    <section class="content">
        {{{body}}}
    </section>
</body>
</html>
